table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #281d16;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.obras-destaques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    gap: 20px;
}